.about-container {
  .tech-stack-images {
    .techStackImage {
      img {
        height: 8rem;
        filter: drop-shadow(0px 5px 5px rgba(66, 0, 110, 0.314));
      }
    }

    .python-logo {
      margin-left: 0vw;
    }

    .django-logo {
      margin-left: 10vw;
    }

    .javascript-logo {
      margin-left: 20vw;
    }

    .html-logo {
      margin-left: 30vw;
    }

    .react-logo {
      margin-left: 40vw;
    }

    .css-logo {
      margin-left: 50vw;
    }

    .rest-logo {
      margin-left: 60vw;
    }

    .git-logo {
      margin-left: 70vw;
    }

    .bootstrap-logo {
      margin-left: 80vw;
    }

    .postgresql-logo {
      margin-left: 89vw;
    }
  }
}

.about-container {
  display: flex;
  justify-content: center;

  .about-card {
    width: 50rem;
    padding: 1rem;
    margin-top: 30vh;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    border-radius: 1rem;
    background-color: #fffffff2;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .dan-image {
    height: 12rem;
    margin: 1rem;
  }

  .links-container {
    display: flex;
    justify-content: center;

    i {
      margin: 0.6rem;
      font-size: 2.5rem;
    }

    img {
      height: 3rem;
      padding: 5px;
    }
  }
}


  .project-description {
    width: 40vw;
    position: absolute;
    top: 20vh;
    padding-left: 3rem;

    h1 {
      font-size: 4rem;
    font-family: "Workbench", sans-serif;
    filter: drop-shadow(0px 5px 5px rgba(66, 0, 110, 0.314));
    }

    p {
      font-family: "Jersey 10 Charted", sans-serif;
      font-size: 1.7rem;
      filter: drop-shadow(0px 5px 5px rgba(66, 0, 110, 0.314));
    }

    .project-tech-stack {
      img {
        height: 5rem;
        padding: 0.7rem;
      }
    }
  }

  .mobile-mockup {
    position: absolute;
    right: -3rem;
    height: 30rem;
  }

  .tablet-mockup {
    position: absolute;
    right: 28rem;
  }

  .laptop-mockup {
    position: absolute;
    right: 5rem;
    height: 20rem;
  }

  .desktop-mockup {
    position: absolute;
    right: 12rem;
    height: 25rem;
  }


  .retro-laptop-mockup {
    position: absolute;
    right: -3rem;
    height: 20rem;
  }

  .retro-desktop-mockup {
    position: absolute;
    right: 25rem;
    height: 25rem;
  }


