body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: "Workbench", sans-serif;
  filter: drop-shadow(0px 5px 5px rgba(66, 0, 110, 0.314));
}

p {
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 0.02rem;
  filter: drop-shadow(0px 5px 5px rgba(233, 202, 255, 0.269));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-weight: 400;
}